Node-Red/Firebase.json
[
    {
        "id": "48f9f380.e7726c",
        "type": "ui_text_input",
        "z": "47e37d46.6d5354",
        "name": "",
        "label": "GTID",
        "group": "7114f868.d45a28",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 130,
        "y": 80,
        "wires": [
            [
                "58d80d62.810bf4",
                "fb51739a.48de5"
            ]
        ]
    },
    {
        "id": "da58e87f.e17338",
        "type": "http request",
        "z": "47e37d46.6d5354",
        "name": "Commit Request",
        "method": "POST",
        "ret": "txt",
        "url": "https://firestore.googleapis.com/v1beta1/projects/labgoservices/databases/(default)/documents:commit",
        "tls": "",
        "x": 710,
        "y": 160,
        "wires": [
            []
        ]
    },
    {
        "id": "e027dc3c.901e3",
        "type": "function",
        "z": "47e37d46.6d5354",
        "name": "GTID Payload",
        "func": "var isTa = global.get(\"ta\");\nvar gtid = global.get(\"gtid\");\n\nmsg.payload = \n{\n\t\"writes\": [{\n\t\t\"updateMask\": {\n\t\t\t\"fieldPaths\": \"ta\"\n\t\t},\n\t\t\"update\": {\n\t\t\t\"name\": \"projects/labgoservices/databases/(default)/documents/gtid/\" + gtid,\n\t\t\t\"fields\": {\n\t\t\t\t\"ta\": {\n\t\t\t\t\t\"booleanValue\": isTa\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 160,
        "wires": [
            [
                "6887cb0.6131e34"
            ]
        ]
    },
    {
        "id": "6887cb0.6131e34",
        "type": "json",
        "z": "47e37d46.6d5354",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 521,
        "y": 160,
        "wires": [
            [
                "da58e87f.e17338"
            ]
        ]
    },
    {
        "id": "58d80d62.810bf4",
        "type": "function",
        "z": "47e37d46.6d5354",
        "name": "Get GTID",
        "func": "var gtid = msg.payload;\nglobal.set(\"gtid\", gtid);\nmsg.payload = gtid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 80,
        "wires": [
            [
                "4c4bca11.fd0564"
            ]
        ]
    },
    {
        "id": "4214e5e0.de43dc",
        "type": "function",
        "z": "47e37d46.6d5354",
        "name": "Save Identity",
        "func": "global.set(\"ta\",msg.payload);\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 310,
        "y": 120,
        "wires": [
            []
        ]
    },
    {
        "id": "bfb71850.a08388",
        "type": "ui_button",
        "z": "47e37d46.6d5354",
        "name": "",
        "group": "7114f868.d45a28",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 142,
        "y": 160,
        "wires": [
            [
                "e027dc3c.901e3",
                "a74d763.c85bd88"
            ]
        ]
    },
    {
        "id": "fb51739a.48de5",
        "type": "ui_text",
        "z": "47e37d46.6d5354",
        "group": "7114f868.d45a28",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "GTID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 290,
        "y": 40,
        "wires": []
    },
    {
        "id": "c7ed3b78.386ae8",
        "type": "ui_dropdown",
        "z": "47e37d46.6d5354",
        "name": "",
        "label": "Identity",
        "place": "Select option",
        "group": "7114f868.d45a28",
        "order": 3,
        "width": "7",
        "height": "1",
        "passthru": true,
        "options": [
            {
                "label": "Student",
                "value": false,
                "type": "bool"
            },
            {
                "label": "TA",
                "value": true,
                "type": "bool"
            }
        ],
        "payload": "",
        "topic": "",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "4214e5e0.de43dc"
            ]
        ]
    },
    {
        "id": "704f44c6.58647c",
        "type": "http request",
        "z": "47e37d46.6d5354",
        "name": "Commit Request",
        "method": "POST",
        "ret": "txt",
        "url": "https://firestore.googleapis.com/v1beta1/projects/labgoservices/databases/(default)/documents:commit",
        "tls": "",
        "x": 710,
        "y": 200,
        "wires": [
            []
        ]
    },
    {
        "id": "a74d763.c85bd88",
        "type": "function",
        "z": "47e37d46.6d5354",
        "name": "Users Payload",
        "func": "var isTa = global.get(\"ta\");\nvar uid = global.get(\"uid\");\n\nmsg.payload = \nmsg.payload = \n{\n\t\"writes\": [{\n\t\t\"updateMask\": {\n\t\t\t\"fieldPaths\": \"ta\"\n\t\t},\n\t\t\"update\": {\n\t\t\t\"name\": \"projects/labgoservices/databases/(default)/documents/users/\" + uid,\n\t\t\t\"fields\": {\n\t\t\t\t\"ta\": {\n\t\t\t\t\t\"booleanValue\": isTa\n\t\t\t\t}\n\t\t\t}\n\t\t}\n\t}]\n};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 320,
        "y": 200,
        "wires": [
            [
                "5326d42b.0b7b5c"
            ]
        ]
    },
    {
        "id": "5326d42b.0b7b5c",
        "type": "json",
        "z": "47e37d46.6d5354",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 521,
        "y": 200,
        "wires": [
            [
                "704f44c6.58647c"
            ]
        ]
    },
    {
        "id": "4c4bca11.fd0564",
        "type": "http request",
        "z": "47e37d46.6d5354",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "https://firestore.googleapis.com/v1beta1/projects/labgoservices/databases/(default)/documents/gtid/{{payload}}",
        "tls": "",
        "x": 490,
        "y": 80,
        "wires": [
            [
                "d0644bae.b42938"
            ]
        ]
    },
    {
        "id": "d0644bae.b42938",
        "type": "json",
        "z": "47e37d46.6d5354",
        "name": "",
        "property": "payload",
        "action": "obj",
        "pretty": false,
        "x": 650,
        "y": 80,
        "wires": [
            [
                "712b69ab.4e9c08"
            ]
        ]
    },
    {
        "id": "712b69ab.4e9c08",
        "type": "function",
        "z": "47e37d46.6d5354",
        "name": "Get UID",
        "func": "var user = msg.payload;\nvar uid = user.fields.uid.stringValue;\nglobal.set(\"uid\", uid);\nmsg.payload = uid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 800,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "f85d00f1.6cfa6",
        "type": "ui_text_input",
        "z": "47e37d46.6d5354",
        "name": "",
        "label": "GTID",
        "group": "a12a6dea.5e9fd",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": false,
        "mode": "text",
        "delay": "0",
        "topic": "",
        "x": 130,
        "y": 320,
        "wires": [
            [
                "7b2cc7cd.7aeab8",
                "f2048866.ac5758"
            ]
        ]
    },
    {
        "id": "607bbd92.22e134",
        "type": "http request",
        "z": "47e37d46.6d5354",
        "name": "",
        "method": "DELETE",
        "ret": "txt",
        "url": "http://ec2-52-90-6-153.compute-1.amazonaws.com:1880/v1/accounts/{{payload}}",
        "tls": "",
        "x": 470,
        "y": 360,
        "wires": [
            []
        ]
    },
    {
        "id": "7b2cc7cd.7aeab8",
        "type": "function",
        "z": "47e37d46.6d5354",
        "name": "Get GTID",
        "func": "var gtid = msg.payload;\nglobal.set(\"delete_gtid\", gtid);\nmsg.payload = gtid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 280,
        "y": 320,
        "wires": [
            []
        ]
    },
    {
        "id": "75ab83ff.1951dc",
        "type": "ui_button",
        "z": "47e37d46.6d5354",
        "name": "",
        "group": "a12a6dea.5e9fd",
        "order": 4,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "Submit",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "x": 140,
        "y": 360,
        "wires": [
            [
                "ba93a857.2d7c38"
            ]
        ]
    },
    {
        "id": "ba93a857.2d7c38",
        "type": "function",
        "z": "47e37d46.6d5354",
        "name": "GTID Payload",
        "func": "var gtid = global.get(\"delete_gtid\");\nmsg.payload = gtid;\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 300,
        "y": 360,
        "wires": [
            [
                "607bbd92.22e134"
            ]
        ]
    },
    {
        "id": "f2048866.ac5758",
        "type": "ui_text",
        "z": "47e37d46.6d5354",
        "group": "a12a6dea.5e9fd",
        "order": 2,
        "width": "6",
        "height": "1",
        "name": "",
        "label": "GTID",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 270,
        "y": 280,
        "wires": []
    },
    {
        "id": "7114f868.d45a28",
        "type": "ui_group",
        "z": "",
        "name": "Change User Identity",
        "tab": "ebd39a45.201948",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "a12a6dea.5e9fd",
        "type": "ui_group",
        "z": "",
        "name": "Delete documents of an account",
        "tab": "ebd39a45.201948",
        "disp": true,
        "width": "12",
        "collapse": true
    },
    {
        "id": "ebd39a45.201948",
        "type": "ui_tab",
        "z": "",
        "name": "Firebase",
        "icon": "dashboard",
        "order": 2
    }
]