Node-Red/Image Processing.json
[
    {
        "id": "3f5c54ad.d080ac",
        "type": "AWS S3",
        "z": "740cd5a8.e6e684",
        "aws": "a26c25d3.5eb878",
        "operation": "ListObjects",
        "Bucket": "photo-collection-1",
        "Key": "",
        "UploadId": "",
        "CopySource": "",
        "Id": "",
        "Delete": "",
        "AccelerateConfiguration": "",
        "AnalyticsConfiguration": "",
        "CORSConfiguration": "",
        "ServerSideEncryptionConfiguration": "",
        "InventoryConfiguration": "",
        "BucketLoggingStatus": "",
        "MetricsConfiguration": "",
        "NotificationConfiguration": "",
        "Policy": "",
        "ReplicationConfiguration": "",
        "RequestPaymentConfiguration": "",
        "Tagging": "",
        "VersioningConfiguration": "",
        "WebsiteConfiguration": "",
        "PartNumber": "",
        "name": "",
        "x": 380,
        "y": 540,
        "wires": [
            [
                "dc4131f2.deddd",
                "26bb263f.7c6bc2"
            ]
        ]
    },
    {
        "id": "2470962b.b98daa",
        "type": "http in",
        "z": "740cd5a8.e6e684",
        "name": "",
        "url": "/v1/list",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 540,
        "wires": [
            [
                "3f5c54ad.d080ac"
            ]
        ]
    },
    {
        "id": "9c2214c.276e7e8",
        "type": "http response",
        "z": "740cd5a8.e6e684",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 540,
        "wires": []
    },
    {
        "id": "dc4131f2.deddd",
        "type": "json",
        "z": "740cd5a8.e6e684",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 570,
        "y": 540,
        "wires": [
            [
                "9c2214c.276e7e8",
                "6a24fe3d.a268f"
            ]
        ]
    },
    {
        "id": "6a24fe3d.a268f",
        "type": "debug",
        "z": "740cd5a8.e6e684",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 810,
        "y": 460,
        "wires": []
    },
    {
        "id": "691e7f9.55b78",
        "type": "AWS Rekognition",
        "z": "740cd5a8.e6e684",
        "aws": "a26c25d3.5eb878",
        "operation": "SearchFacesByImage",
        "SourceImage": "https://s3.amazonaws.com/photo-collection-1/IMG_0295+2.JPG",
        "TargetImage": "https://s3.amazonaws.com/photo-collection-1/IMG_0307.JPG",
        "CollectionId": "Collection-Id-1",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 880,
        "y": 960,
        "wires": [
            [
                "3d4173ba.1f9e4c",
                "f316abe1.a4a0d"
            ]
        ]
    },
    {
        "id": "26bb263f.7c6bc2",
        "type": "debug",
        "z": "740cd5a8.e6e684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 590,
        "y": 460,
        "wires": []
    },
    {
        "id": "1cf7b93b.6a5be7",
        "type": "AWS S3",
        "z": "740cd5a8.e6e684",
        "aws": "a26c25d3.5eb878",
        "operation": "GetObject",
        "Bucket": "photo-collection-1",
        "Key": "IMG_0295 2.JPG",
        "UploadId": "",
        "CopySource": "",
        "Id": "",
        "Delete": "",
        "AccelerateConfiguration": "",
        "AnalyticsConfiguration": "",
        "CORSConfiguration": "",
        "ServerSideEncryptionConfiguration": "",
        "InventoryConfiguration": "",
        "BucketLoggingStatus": "",
        "MetricsConfiguration": "",
        "NotificationConfiguration": "",
        "Policy": "",
        "ReplicationConfiguration": "",
        "RequestPaymentConfiguration": "",
        "Tagging": "",
        "VersioningConfiguration": "",
        "WebsiteConfiguration": "",
        "PartNumber": "",
        "name": "",
        "x": 500,
        "y": 640,
        "wires": [
            [
                "e615440d.0d6ba8"
            ]
        ]
    },
    {
        "id": "cec1cca2.5faec",
        "type": "AWS Rekognition",
        "z": "740cd5a8.e6e684",
        "aws": "a26c25d3.5eb878",
        "operation": "CreateCollection",
        "SourceImage": "",
        "TargetImage": "",
        "CollectionId": "Collection-Id-1",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 500,
        "y": 700,
        "wires": [
            [
                "f6ff4026.5c25e"
            ]
        ]
    },
    {
        "id": "ab6b5b56.2f5c3",
        "type": "http in",
        "z": "740cd5a8.e6e684",
        "name": "",
        "url": "/v1/createCollection",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 700,
        "wires": [
            [
                "cec1cca2.5faec"
            ]
        ]
    },
    {
        "id": "f6ff4026.5c25e",
        "type": "http response",
        "z": "740cd5a8.e6e684",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 700,
        "wires": []
    },
    {
        "id": "b1616614.2f38f8",
        "type": "AWS Rekognition",
        "z": "740cd5a8.e6e684",
        "aws": "a26c25d3.5eb878",
        "operation": "IndexFaces",
        "SourceImage": "",
        "TargetImage": "",
        "CollectionId": "Collection-Id-1",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 970,
        "y": 840,
        "wires": [
            [
                "d1c46146.930a78",
                "abd19e6a.436ce8",
                "e2af6fa6.ecaae"
            ]
        ]
    },
    {
        "id": "2679ff1d.093ad8",
        "type": "http in",
        "z": "740cd5a8.e6e684",
        "name": "",
        "url": "/v1/images/:student_id",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 260,
        "y": 840,
        "wires": [
            [
                "7afda486.fb55fc"
            ]
        ]
    },
    {
        "id": "d1c46146.930a78",
        "type": "http response",
        "z": "740cd5a8.e6e684",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1230,
        "y": 760,
        "wires": []
    },
    {
        "id": "a4c1d332.a3402",
        "type": "http in",
        "z": "740cd5a8.e6e684",
        "name": "",
        "url": "/v1/compare",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 220,
        "y": 960,
        "wires": [
            [
                "d332e2a2.3baaa"
            ]
        ]
    },
    {
        "id": "474803f4.d11c24",
        "type": "http response",
        "z": "740cd5a8.e6e684",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1730,
        "y": 960,
        "wires": []
    },
    {
        "id": "abd19e6a.436ce8",
        "type": "debug",
        "z": "740cd5a8.e6e684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1210,
        "y": 720,
        "wires": []
    },
    {
        "id": "2c6fcf38.c1b2a8",
        "type": "http in",
        "z": "740cd5a8.e6e684",
        "name": "",
        "url": "/v1/pic",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 210,
        "y": 640,
        "wires": [
            [
                "1cf7b93b.6a5be7"
            ]
        ]
    },
    {
        "id": "e615440d.0d6ba8",
        "type": "http response",
        "z": "740cd5a8.e6e684",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 750,
        "y": 640,
        "wires": []
    },
    {
        "id": "c3fdc33.3bebb4",
        "type": "function",
        "z": "740cd5a8.e6e684",
        "name": "Set S3 Image Object",
        "func": "flow.set('student_id',msg.payload);\nmsg.Image = {\"S3Object\": {\"Bucket\": \"photo-collection-1\", \"Name\": msg.payload + \".jpg\"}};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 720,
        "y": 840,
        "wires": [
            [
                "b1616614.2f38f8"
            ]
        ]
    },
    {
        "id": "7afda486.fb55fc",
        "type": "template",
        "z": "740cd5a8.e6e684",
        "name": "get parameters",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "{{req.params.student_id}}",
        "output": "str",
        "x": 500,
        "y": 840,
        "wires": [
            [
                "c3fdc33.3bebb4"
            ]
        ]
    },
    {
        "id": "d332e2a2.3baaa",
        "type": "function",
        "z": "740cd5a8.e6e684",
        "name": "Set S3 Image Object",
        "func": "//msg.Image = {\"S3Object\": {\"Bucket\": \"photo-collection-1\", \"Name\": \"IMG_0295 2.JPG\" }};\nmsg.Image = {\"S3Object\": {\"Bucket\": \"photo-check-1\", \"Name\": \"IMAGE.JPG\" }};\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 600,
        "y": 960,
        "wires": [
            [
                "691e7f9.55b78"
            ]
        ]
    },
    {
        "id": "3d4173ba.1f9e4c",
        "type": "debug",
        "z": "740cd5a8.e6e684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1130,
        "y": 920,
        "wires": []
    },
    {
        "id": "8afc5b1a.5426f8",
        "type": "AWS Rekognition",
        "z": "740cd5a8.e6e684",
        "aws": "a26c25d3.5eb878",
        "operation": "DeleteCollection",
        "SourceImage": "",
        "TargetImage": "",
        "CollectionId": "Collection-Id-1",
        "Input": "",
        "Output": "",
        "Name": "",
        "Settings": "",
        "RoleArn": "",
        "FaceIds": "",
        "Image": "",
        "Id": "",
        "JobId": "",
        "FaceId": "",
        "Video": "",
        "name": "",
        "x": 500,
        "y": 740,
        "wires": [
            [
                "860a61c0.9cc54"
            ]
        ]
    },
    {
        "id": "6b16dcd3.f878cc",
        "type": "http in",
        "z": "740cd5a8.e6e684",
        "name": "",
        "url": "/v1/deleteCollection",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 250,
        "y": 740,
        "wires": [
            [
                "8afc5b1a.5426f8"
            ]
        ]
    },
    {
        "id": "860a61c0.9cc54",
        "type": "http response",
        "z": "740cd5a8.e6e684",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 710,
        "y": 740,
        "wires": []
    },
    {
        "id": "a08ccbec.a95688",
        "type": "http request",
        "z": "740cd5a8.e6e684",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "url": "http://ec2-52-90-6-153.compute-1.amazonaws.com:1880/v1/imageid",
        "tls": "",
        "x": 1590,
        "y": 840,
        "wires": [
            [
                "9bcebb30.0cce08",
                "3fd00719.a5c2f8"
            ]
        ]
    },
    {
        "id": "e2af6fa6.ecaae",
        "type": "function",
        "z": "740cd5a8.e6e684",
        "name": "Add the image_id vs student_id in the table",
        "func": "var student_id = flow.get('student_id');\n\nmsg.payload = {\"student_id\": student_id, \"image_id\": msg.payload.FaceRecords[0].Face.ImageId};\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1290,
        "y": 840,
        "wires": [
            [
                "a08ccbec.a95688",
                "8e8e2c2b.cc1a78"
            ]
        ]
    },
    {
        "id": "9bcebb30.0cce08",
        "type": "http response",
        "z": "740cd5a8.e6e684",
        "name": "",
        "statusCode": "",
        "headers": {},
        "x": 1750,
        "y": 840,
        "wires": []
    },
    {
        "id": "3fd00719.a5c2f8",
        "type": "debug",
        "z": "740cd5a8.e6e684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1770,
        "y": 780,
        "wires": []
    },
    {
        "id": "8e8e2c2b.cc1a78",
        "type": "debug",
        "z": "740cd5a8.e6e684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1590,
        "y": 760,
        "wires": []
    },
    {
        "id": "f316abe1.a4a0d",
        "type": "function",
        "z": "740cd5a8.e6e684",
        "name": "Get the student_id of the recognized image_id",
        "func": "// if(msg.payload.FaceMatches[0].Similarity > 0.5)\n// {\n    var ImageId = msg.payload.FaceMatches[0].Face.ImageId;\n    msg.url = \"http://ec2-52-90-6-153.compute-1.amazonaws.com:1880/v1/imageid/\" + ImageId;\n    \n// }\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "x": 1260,
        "y": 960,
        "wires": [
            [
                "ed5070c9.db25b8"
            ]
        ]
    },
    {
        "id": "ed5070c9.db25b8",
        "type": "http request",
        "z": "740cd5a8.e6e684",
        "name": "",
        "method": "GET",
        "ret": "txt",
        "url": "",
        "tls": "",
        "x": 1570,
        "y": 960,
        "wires": [
            [
                "474803f4.d11c24",
                "3dfc789f.1e6668"
            ]
        ]
    },
    {
        "id": "3dfc789f.1e6668",
        "type": "debug",
        "z": "740cd5a8.e6e684",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 1750,
        "y": 920,
        "wires": []
    },
    {
        "id": "2c517f72.b75cc",
        "type": "comment",
        "z": "740cd5a8.e6e684",
        "name": "This will be called from raspberry pi after it takes a picture and sends it to S3",
        "info": "",
        "x": 410,
        "y": 920,
        "wires": []
    },
    {
        "id": "f8caf6c3.2c943",
        "type": "comment",
        "z": "740cd5a8.e6e684",
        "name": "This should be called when adding a new student's picture the S3 bucket",
        "info": "",
        "x": 400,
        "y": 800,
        "wires": []
    },
    {
        "id": "a26c25d3.5eb878",
        "type": "amazon config",
        "z": "",
        "name": "Mahmoud-Parto-AWS1",
        "region": "us-east-1",
        "proxyRequired": false,
        "proxy": ""
    }
]